# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.env
.env
! .env.example

# Node
node_modules/
dist/
build/
.next/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Database & Logs
*.db
*.log
storage/

